.buttonAvailable {
    fill-opacity: 1;
}

.buttonActive {
    color: #3daee9;
    fill-opacity: 1;
}

.buttonInactive {
    fill-opacity: 0.33;
}

.itemImage {
    border-radius: 10px;
    width: auto;
    height: auto;
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

html,
body {
    height: 100%;
    width: 100%;
    /* 确保父容器（body）的高度为 100% */
    margin: 0;
    /* 去掉默认的边距 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

@media screen and (orientation:portrait) {
    #containerCoverImage {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 59%;
    }

    #containerMusicInfo {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40%;
        text-align: center;
    }

    .itemImage {
        border-radius: 0;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (orientation:landscape) {
    #containerCoverImage {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 49%;
    }

    #containerMusicInfo {
        position: absolute;
        top: 54px;
        bottom: 0px;
        right: 0px;
        width: 49%;
        text-align: left;
    }

    .itemImage {
        border-radius: 10px;
        max-width: 98%;
        max-height: 98%;
    }
}

#containerCoverImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#notConnecting {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#controlsPlayer {
    height: 20%;
    width: 100%;
    max-height: 96px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.playerButton {
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#containerTrackSeek {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}


#trackSeek {
    width: 95%;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(239, 240, 241, 0.33);
    position: relative;
    display: block;
    padding: 0;
    align-self: center;
}

#trackSeekValue {
    height: 5px;
    background-color: #3daee9;
    border-radius: 10px;
    padding: 0;
    width: 0%;
}

#trackSeekValue span {
    position: absolute;
    bottom: -15px;
    width: 50%;
    margin: 0;
    line-height: 10px;
    font-size: 10px;
}

#trackSeekValue span.right {
    text-align: right;
    right: 0;
}

#trackSeekValue span.left {
    text-align: left;
    left: 0;
}

#notConnecting {
    /* background-color: #232629; */
    color: #eff0f1;
}

#volumeList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volumeGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.volumeButton {
    color: #eff0f1;
    width: 12%;
    height: 12vh;
    max-height: 84px;
    margin: 0;
    padding: 0;
}

.volumeSlider {
    width: 70%;
    display: flex;
    /* 使用 flexbox 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.valumeControl {
    width: 80%;
}

#volumeValueSpan {
    width: 2.5em;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3daee9;
    border-radius: 10px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3daee9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3daee9;
    border-radius: 10px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3daee9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3daee9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3daee9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3daee9;
}

/* == */
#isConnecting {
    width: 70vw;
    /* 宽度为视口宽度的 70% */
    padding: 10px;
    /* 添加一些内边距，防止内容溢出 */
    box-sizing: border-box;
    /* 包括内边距在宽度计算中 */
    text-align: center;
    /* 可选：居中对齐文本 */
    white-space: nowrap;
    /* 防止文本换行溢出 */
}

.deviceInfo {
    margin-bottom: 6vh;
    font-size: clamp(1rem, 2.5vh, 2.5rem);
}

#deviceName {
    font-size: clamp(2rem, 10vh, 5rem);
}

.deviceStatus {
    font-size: clamp(1rem, 5vh, 2rem);
}


.deviceStatusItem {
    display: flex;
    align-items: center;
    padding-bottom: 4vh;
    padding-top: 4vh;
}

.deviceStatusItemLabel {
    /* margin-right: 10px; */
    white-space: nowrap;
    /* 防止标签自动换行 */
    width: 20%;
    max-width: 120px;
    text-align: right;
    /* 可选：右对齐标签 */
    padding-right: 3vw;
}


.deviceStatusItemValues {
    height: 10%;
    width: 100%;
    max-height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.deviceStatusItemValue {
    white-space: nowrap;
    /* 防止值自动换行 */
    text-align: center;
    display: flex;
    /* 使用 flexbox 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    /* height: 100px;        */
}

.devicesButton {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* 子元素按列排列 */
    justify-content: center;
    align-items: center;
}

.inputDeviceSvg {
    width: 7vh;
    height: 7vh;
}

.inputDeviceStatus {
    width: 1.5em;
}

.inputDeviceName {
    font-size: 3vh;
    margin: 1vh 0 1vh 0;
}


/* status buttons  */
#controlsSettings {
    height: 10%;
    width: 100%;
    max-height: 48px;
    margin-top: 4vh;
    margin-bottom: 0vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.settingsButton {
    height: 8vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* 竖屏布局 */
@media screen and (max-width: 767px) {
    #isConnecting {
        width: 100%;
    }

    .deviceInfo {
        margin-bottom: 2vh;
        font-size: clamp(1rem, 2.5vw, 2.5rem);
    }

    #deviceName {
        font-size: clamp(2rem, 10vw, 7rem);
    }

    .deviceStatus {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    .deviceStatusItemValues {
        width: 100%;
        max-height: 180px;
        margin-top: 2vh;
    }

    .deviceStatusItem {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1vh;
    }

    .deviceStatusItemLabel {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .inputDevicesList {
        flex-direction: column;
        /* 竖屏时垂直排列按钮 */
    }

    .buttonFillHeight {
        margin-right: 0;
        /* 移除按钮间距 */
        margin-bottom: 10px;
        /* 按钮之间的垂直间距 */
    }

    .inputDeviceSvg {
        width: 8vw;
        height: 8vw;
    }

    .inputDeviceStatus {
        width: 1em;
    }

    .inputDeviceName {
        font-size: 2vw;
        margin: 1vh 0 1vh 0;
    }

    .valumeControlAll {
        flex-direction: column;
        /* padding-right: 4vw; */
    }

    .valumeControl {
        width: 100%;
    }

    .volumeButton {
        color: #eff0f1;
        width: 12%;
        height: 12vw;
        max-height: 84px;
        margin: 0;
        padding: 0;
    }

    .volumeSlider {
        width: 70%;
    }

    .settingsButton {
        height: 4vh;
        width: 30%;
        padding: 0;
    }
}